:root {
    --main-bg-color: #6c5ce7;
    --black-color: #000;
    --margin: 0px;
    --padding: 0px;
    --white-main-color: #fff;
    --dark-gray-color:#1e272e;
    --light-bray-color: #747477;
    --very-light-gray-color:#f0f0f0;


}
body{
    margin: var(margin);
    padding: var(padding);
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
main{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: lightgrey;
    box-shadow: 10px 10px 8px #888888;
}
.menu{
    display: flex;
}
nav ul {
    display: flex;
}
nav ul li a{
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    text-transform: uppercase;
    font-weight: lighter;
    color: #585b55;
    letter-spacing: 1px;
    font-size: 14px;
    height: 40px;
    line-height: 43px;
    
}
nav ul li a:hover {
    background-color: var(--main-bg-color);
    color: #fff;
    border-radius: 50px;
}
.Get-in-touch {
    color: var(--light-bray-color);
    font-weight: 500;
    font-size: 0.9em;
    border-bottom:  2px solid var(--main-bg-color);
}
.logo-design {
    font-weight: 300;
    font-size: 30px;
    color: var(--black-color);

}
.name {
    font-weight: 900;
    text-decoration: underline;
    text-decoration-color: var(--main-bg-color) ;
    text-decoration-style: var(--margin);
}
.content {
    display: flex;
	align-items: center;
	justify-content: space-around;
	width: 90%;
	margin: 150px auto 100px auto;

}
.model {
    height: 500px;
    width: 500px;
}
.model img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}
.main-text h1 {
    font-size: 50px;
    margin: 0px 0px 10px 0px;
    line-height: 60px;
}
.main-text p {
    color: var(--light-gray-color);
}
.portpolio-button {
    width: 200px;
    height: 45px;
    display: flex;
    color: var(--black-color);
    
}

#skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto auto 50px auto;
    margin: auto auto 150px auto;
    
}
.skill-img{
    width: 45%;
}
.skill-img img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;

}
.skill-text {
    width: 40%;
}
.skill-heading span{
    color: var(--main-bg-color);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;

}
.skill-heading h2 {
    color: var(--dark-gray-color);
    font-size: 45px;
    margin: 0%;
    font-weight: 600;
    letter-spacing: 1px;
}
.s-box-container{
    margin-top: 15px;
}
.skill-box{
    display: flex;
    margin: 20px 0px;
}
.s-box-icon{
    margin-right: 15px;
    font-size: 25px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--very-light-gray-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--light-bray-color);

}
.s-box-text strong {
    color: var(--dark-gray-color);
    margin: 0px;
    font-size: 18px;
    font-weight: 800;

}
.s-box-text p {
    color: var(--black-color);
    font-size: 15px;
}
#my-projects{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 90%;
margin: auto atuo 50px auto;

}
.project {
    width: 200;
    height: 200;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 90px 0px;
}

.one {
    background-image: url(/download.png);
    background-size: contain;
}
.two {
    background-image: url(/download.1.png);
    background-size: contain;
}
.three {
    background-image: url(/icon.png);
    background-size: contain;
}
.project-showcase{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}
.project #hide{
    visibility: hidden;
    background-color: var(--white-main-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    opacity: 100%;
    z-index: 1000;
}
.project:hover #hide {
    visibility: visible;
    border: 1px solid var(--main-bg-color);
}



.project-text{
    color: var(--dark-gray-color);
    font-size: 18px;
    padding: 20px;
    justify-content: space-evenly;

}
.project-button{
    background-color: var(--black-color);
    color: var(--white-main-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px ;
    padding: 15px;
}
.project-button:hover {
	color: var(--black-color);
	background-color: var(--white-main-color);
	cursor: pointer;
}

#client{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: auto auto 50px auto;
    padding: 50px 0px;

}
.c-box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0px;
    
}
.client-box {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    background-color: lightblue;
    color: var(black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
}
.client-box img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--white-main-color);
    object-fit: contain;
    border: 5px solid  black;

}
.client-box a{
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkmagenta;
    color: var(--white-main-color);
    border-radius: 5px;
    border-color: #000 solid;
}
.client-box a:hover {
     background-color: lightslategray;
     color: wheat;

}
#contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: auto auto 50px auto;
}
#contact img {
	width: 50%;
}
#contact h3 {
	font-size: 32px;
	margin: 20px;
}

.contact-input {
	width: 400px;
	height: 50px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.contact-input input {
	width: 100%;
	background: transparent;
	border: none;
	outline: none;
	text-align: center;
	color: var(--white-main-color);
}
.contact-input a {
	width: 400px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-bg-color);
	color: var(--white-main-color);
	border-radius: 5px;
	margin: auto 15px;
	font-size: 14px;
    box-shadow: 10px 10px 8px 10px #888888;

    /* box-shadow : 5px 5px blue, 10px 10px red, 15px 15px green;     */
}
/* Footer */
footer {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
    flex-direction: column;
	color: var(--black-color);
    margin: 10px;
}